@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #4d4d4d transparent;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}
